body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar color */
.navbarBackground{
  background-color: black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

}

.navbarText{
  color: white;
  font-weight: 500;
}

/* Override Bootstrap's default hover styles for navbar items */
.navbarBackground .navbar-nav .nav-link:hover {
  color: #fff !important; /* Set the desired text color on hover */
}

.navbarTitle{
  color: #fff;
  text-shadow: #ffff;
  font-weight: bold; 
}

.navbarBackground .navbar-brand.navbarTitle:hover {
  color: #fff !important; /* Set the desired text color on hover */
}

/* Grey color button */
.greyButton{
  background-color: #e5e5e5;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  border: #e5e5e5;
  padding-left: 12px; 
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.brownColor{
  color: #85231b;
  font-weight: bold;
}
.brownButton{
  background-color: #85231b;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  border: #85231b;
  padding-left: 15px; 
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/* brown button hover */
.brownButton:hover {
  background-color: #e5e5e5;
  color: #85231b;
  border: 2px solid #85231b;
  font-weight: 500;
}

.greyButton:hover {
  background-color: #85231b;
  color: #e5e5e5;
  border: 2px solid #e5e5e5;
  font-weight: 500;
}


/* Add this to your CSS to style the active link */
.activeLink {
  color: white !important; /* Set the desired text color for the active link */
}

/* Home page */
.background{
  background-image: linear-gradient(103.24deg, rgba(0, 8, 29, 0.3) 10.83%, rgba(0, 8, 29, 0.3) 60.1%),url("./images/background.png");
  min-height: 92vh;
  background-size: cover;
  background-position: center;
  /* margin-top: 2px; */
}

.welComeLine{
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  background-color: #85231b;
  padding: 5px 12px 5px 12px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  
}

.tagLine{
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 2px #000;
}

.getStartedButton{
  font-size: 0.938rem;
  font-weight: 500;
  color: white;
  background-color: black;
  padding: 5px 12px 5px 12px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/* CursorPointer */
.pointerCursor {
  cursor: pointer;
  text-decoration: none;
}

/* SignUpForm.css */

.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.sign-up-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 3px black;
}


input{
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:hover {
  border-color: #85231b; /* Change border color on hover */
}

input:focus {
  outline: none; /* Remove focus outline */
  border-color: #85231b; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(133, 35, 27, 0.5); /* Add a box shadow on focus */
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none; /* Remove default arrow in some browsers */
  background-color: white; /* Set background color for the dropdown */
  cursor: pointer;
}

select:hover {
  border-color: #85231b; /* Change border color on hover */
}

select:focus {
  outline: none; /* Remove focus outline */
  border-color: #85231b; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(133, 35, 27, 0.5); /* Add a box shadow on focus */
}

select option:hover {
  background-color: #e5e5e5; /* Change background color on hover */
}


